<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PSAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PSAP.Properties.Settings.PSAPConnectionString" connectionString="Data Source=192.168.0.3;Initial Catalog=PSAP;Persist Security Info=True;User ID=sa;Password=1qaz2wsx"
            providerName="System.Data.SqlClient" />
        <add name="PSAP.Properties.Settings.PSAPConnectionString111"
            connectionString="Data Source=localhost;Initial Catalog=PSAP;Persist Security Info=True;User ID=sa;Password=sa123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <PSAP.Properties.Settings>
            <setting name="ThemeId" serializeAs="String">
                <value>1</value>
            </setting>          
        </PSAP.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
